.contact-info {
    background-image: url("../../../images/map.svg");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
}
.info-icon {
    background-color: #FFD15C;
    padding: 5px 9px;
    border-radius: 50%;
    margin-right: 15px;
    transition: .5s all ease;
}
.info-icon:hover{
    background-color: #454360;
    color: #FFD15C;
}
.form-control {
    border-radius: 30px;
    height: 60px;
    color: #bbb9d1!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none;
}
.form-control:focus {
    outline: 0!important;
    box-shadow: none!important;
    border-color: #302f4e !important;
}
.form-control::placeholder {
    color: #bbb9d1;
}

.form-group {
    margin-bottom: 30px;
}
.contact-info h3 {
    margin: 0 0 10px;
    font-size: 25px;
}