.section-bg{
    background-color: #252734;
}
.breadcrumb-box {
    padding-top: 180px;
    padding-bottom: 95px;
}
.breadcrumb-link {
    margin-top: 20px;
    padding: 20px 40px!important;
    border-radius: 30px;
    background: #2a2c39;
    display: inline-flex!important;
    text-align: center;
    font-size: 16px;
}
.breadcrumb-content h2{
    font-size: 60px;
    color: #fff;
}
.breadcrumb-link li {
    position: relative;
    font-weight: 500;
    font-size: 17px;
    
}
.breadcrumb-link li a{
    color: #858792;
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: "||"!important;
}
.breadcrumb-link li.active {
    color: #fff;
    font-size: 17px;
}